<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jike.certification.dao.UserDao">

    <sql id="baseSql">
        id,
        user_name,
        password,
        deleted,
        create_time,
        update_time
    </sql>

    <insert id="save" parameterType="com.jike.certification.model.user.User"
            keyProperty="id" useGeneratedKeys="true">
        INSERT INTO user
        <trim prefix="(" suffix=")"  suffixOverrides=",">
            <if test="id != null" >
                id,
            </if>
            <if test="userName != null" >
                user_name,
            </if>
            <if test="password != null" >
                password,
            </if>
        </trim>
        <trim prefix="VALUES(" suffix=")"  suffixOverrides=",">
            <if test="id != null" >
                #{id},
            </if>
            <if test="userName != null" >
                #{userName},
            </if>
            <if test="password != null" >
                #{password},
            </if>
        </trim>
    </insert>

</mapper>